doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Calendar App
		// Link to the CSS file
		link(rel="stylesheet" href="styles2.css")
		// Include jQuery from a CDN
		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
	body
		header
			.title-content
				button#last Last
				span
					h1#month Month
					h2#year Year
				button#next Next
		#calendar.ci-cal-container
		// Link to your JavaScript file
		script(src="script2.js")
