body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#calendar {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}
.calendar-table th {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #e0e0e0;
}
.calendar-table td {
  height: 50px;
  text-align: center;
  border: 1px solid #e0e0e0;
}
.calendar-table td:not(.empty) {
  background-color: #fff;
  cursor: pointer;
}
.calendar-table td.empty {
  background-color: #f7f7f7;
}
.calendar-table td.today {
  background-color: #def;
}

.day {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
  vertical-align: top;
}

.day div {
  margin: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
}

.date {
  cursor: pointer; /* If you want the dates to be clickable */
  /* Add other styles as needed */
}


/* Add more styles as needed */
