body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#calendar {
  width: 90%;
  max-width: 1200px; /* This is the maximum width the calendar will take */
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days for larger screens */
  grid-gap: 5px;
}

.calendar-table th, .calendar-table td {
  padding: 20px; /* This padding can be fluid as well */
  font-size: 1em; /* Start with a default font size */
}

.calendar-table th, .calendar-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
}

.calendar-table th {
  background-color: #f0f0f0;
}

.calendar-table td {
  height: 50px;
}

.calendar-table td:not(.empty) {
  background-color: #fff;
  cursor: pointer;
}

.calendar-table td.empty {
  background-color: #f7f7f7;
}

.calendar-table td.today {
  background-color: #def;
}

.day {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  position: relative; /* For positioning the date and heatmap color */
}

.day div.date {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 2px 5px;
  background-color: blue;
  color: white;
  font-size: calc(8px + 1vw); /* Responsive font size */
  cursor: pointer; /* If you want the dates to be clickable */
}

/* Smaller devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .calendar-table th, .calendar-table td {
    padding: 10px; /* Smaller padding for small screens */
    font-size: 0.8em; /* Smaller font size for small screens */
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .calendar-table th, .calendar-table td {
    padding: 15px; /* Slightly larger padding for medium screens */
    font-size: 0.9em; /* Slightly larger font size for medium screens */
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .calendar-table th, .calendar-table td {
    padding: 20px; /* Even larger padding for large screens */
    font-size: 1em; /* Reset to default font size for large screens */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .calendar-table th, .calendar-table td {
    padding: 25px; /* Larger padding for extra large screens */
    font-size: 1.2em; /* Larger font size for extra large screens */
  }
}
